// variables
$red: #FF6F6F;
$black: #101010;
$pressura: 'Pressura', sans-serif;
$ferry: 'Ferry Black', sans-serif;

// media queries

@mixin small {
  @media (max-width: 680px) {
    @content;
  }
}

@mixin inbetween {
  @media (max-width: 874px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 1040px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 1170px) {
    @content;
  }
}

// fonts

@font-face {
	font-family: 'Pressura';
	src: url('../fonts/gt-pressura-regular.ttf') format('opentype');
	src: url('../fonts/gt-pressura-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
    src: url('../fonts/Ferry-Black.eot');
    src: url('../fonts/Ferry-Black.eot?') format('embedded-opentype'),
    url('../fonts/Ferry-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
		font-family: 'Ferry Black';
}

// styles

body {
  background-color: $black;
  font-family: $pressura;
  color: white;
  margin: 0;
  padding: 0;
	overflow-x: hidden;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

h1 {
	font-family: $ferry;
	font-size: 86px;
	color: $black;
	-webkit-text-stroke: 1px white;
	text-align: center;
	max-width: 525px;
	line-height: 0.9;

	@include small {
		font-size: 60px;
	}
}

h2 {
	font-weight: 400;
	font-family: $ferry;
	font-size: 24px;
	margin-bottom: 60px;
	color: $black;
	-webkit-text-stroke: 1px white;
	font-size: 66px;
}

strong {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}

p {
	line-height: 1.7;
	letter-spacing: 0.4px;
}

a {
	color: white;
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	opacity: 0.2;
}

ul {
	margin-bottom: 60px;
}

li {
	margin-bottom: 10px;
	letter-spacing: 0.5px;
}

.wrapper {
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;

	@include medium {
		padding: 0 30px;
	}
}

.button {
	background-color: $red;
	padding: 20px 40px 22px 40px;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	display: inline-block;
}

.button:hover {
	opacity: 1;
	transform: scale(1.05);
}

// specific styling

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 30px;

	@include small {
		display: none;
	}

	a {
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0 15px;
	}

	.hollow-button {
		padding: 15px 40px;
		border: 1px solid white;
		border-radius: 4px;
		transition: 0.2s;
	}

	.hollow-button:hover {
		background-color: white;
		color: $black;
		opacity: 1;
	}
}

.social-nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 30px;
	bottom: 30px;

	a {
		margin-top: 10px;
	}

	@include small {
		display: none;
	}
}

.social-nav-mobile {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 60px auto;
	display: none;

	a {
		margin: 0 10px;
	}

	@include small {
		display: flex;
	}
}


.hero {
	.content {
		margin: 0 auto;
		max-width: 550px;
		text-align: center;

		h2 {
			font-weight: 400;
			font-size: 24px;
			margin: 0 auto 60px auto;
			font-family: $pressura;
			color: white;
			-webkit-text-stroke: 0;
			max-width: 360px;
		}

		svg {
			width: 300px;
  		height: 50px;
			margin-bottom: 60px;
		}

		path {
			stroke: white;
		  stroke-width: 5px;
		  stroke-linecap: round;
		  fill: none;
		}

		p {
			max-width: 200px;
			margin: 0 auto;
		}
	}
}

.beach {
	margin-top: 80px;
	margin-bottom: 80px;
}

.beach--header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	div {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	img {
		margin-right: 15px;
	}
}

.beach--image {
	background-color: #333333;
	width: 100%;
	height: 600px;
	background-image: url('../images/photos/location.jpeg');
	background-size: cover;
	background-position: top;

	@include medium {
		height: 400px;
	}

	@include small {
		height: 250px;
	}
}

// GEAR

.gear-list {
	padding-top: 200px;
	padding-bottom: 50px;

	@include medium {
		padding-top: 30px;
	}

	h2 {
		@include small {
			font-size: 40px;
		}
	}
}

.gear-columns {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;

	@include medium {
		flex-wrap: wrap;
	}
}

.column {
	width: calc(100% / 3);

	@include medium {
		width: 100%;
	}
}

.column:nth-child(1n) {
	padding-right: 15px;
}

.column:nth-child(2n) {
	padding: 0 15px;
}

.column:nth-child(3n) {
	padding-left: 15px;
}

.gear-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 40px;

	strong {
		margin-right: 20px;
	}
}

.gear-line {
	background-color: white;
	width: 100%;
	height: 2px;
}

.outboard-text {
	border: 2px solid white;
	padding: 20px 40px;

	p {
		line-height: 1.7;
	}
}

// Gallery

.gallery {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	@include small {
		padding-bottom: 10px;
	}

	h2 {
		line-height: 0.9;

		@include small {
			font-size: 40px;
		}
	}

	.slider {
		max-width: 800px;
		height: 500px;
		background-color: #333;
		margin: 0 auto;

		@include medium {
			height: 400px;
		}

		img {
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	}

	.slider-text {
		max-width: 400px;
		line-height: 1.8;
		margin: 60px auto;

		@include small {
			margin: 30px auto;
		}
	}
}

.slider-buttons {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -270px;

	@include medium {
		display: none;
	}
}

.prev,
.next {
	cursor: pointer;
}

.whats-good {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;

	@include small {
		padding-top: 20px;
	}

	h2 {
		color: white;
		-webkit-text-stroke: none;
		margin-bottom: 20px;

		@include small {
			font-size: 40px;
		}
	}

	p {
		max-width: 300px;
		margin: 30px auto;
	}
}

.toggle {
	margin-top: 50px;
}

.toggle-btn {
	padding: 15px;
	border: 2px solid white;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	width: 100px;
	display: inline-block;

	@include small {
		padding: 8px;
		width: 80px;
		font-size: 12px;
	}
}

.toggle-btn:hover {
	background-color: white;
	opacity: 1;
	color: $black;
}

#toggle-left {
	border-radius: 100px 0 0 100px;
	margin-right: -6px;
}

#toggle-right {
	border-radius: 0 100px 100px 0;
	margin-left: -6px;
}

.things {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 100px;

	@include small {
		flex-wrap: wrap;
	}
}

.thing-item {
	width: calc(100% / 3);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;

	@include small {
		width: 100%;
		margin-bottom: 10px;
	}

	.thing-image {
		width: 300px;
		height: 300px;
		background-color: #333;
		border-radius: 100%;
		background-size: cover;

		@include medium {
			width: 150px;
			height: 150px;
		}
	}

	strong {
		margin-top: 40px;
		font-size: 24px;
	}

	p {
		margin-top: 10px;
	}
}

.thing-item:hover {
	opacity: 1;
	transform: scale(1.05);
}

.contact {
	.wrapper {
		max-width: 600px;
	}

	text-align: center;
	padding-bottom: 150px;

	h2 {
		line-height: 0.9;
	}

	p {
		margin-bottom: 0;
		margin-top: 0;
	}

	@include small {
		padding-bottom: 20px;
	}
}

.credits {
	margin-top: 60px;
}



form {
	box-sizing: border-box!important;
}

input[type='text'], input[type='email'], textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: $black;
	font-family: $pressura;
	transition: 0.2s;
	color: white;
	box-sizing: border-box!important;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 1px solid white;
  outline: none;
}

textarea::placeholder,
input[type='text']::placeholder,
input[type='email']::placeholder,  {
  color: #444;
}

textarea {
  min-height: 360px;
  line-height: 24px;
}

input[type=submit] {
  background-color: $red;
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  transition: 0.2s;
	font-family: $pressura;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-sizing: border-box;
	border-radius: 4px;
}

input[type=submit]:hover {
  background-color: $red;
  transform: scale(1.05);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
	cursor: pointer;
}

// big asses

.ass {
	position: absolute;
	z-index: -1;

	@include medium {
		display: none;
	}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes rspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes rspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes rspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#big-ass {
	top: 180px;
	left: -300px;
	-webkit-animation: spin 12s linear infinite;
    -moz-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite;
}

#regular-ass {
	top: 260px;
	right: -40px;
	-webkit-animation: rspin 16s linear infinite;
    -moz-animation: rspin 16s linear infinite;
    animation: rspin 16s linear infinite;
}

#medium-ass {
	top: 1450px;
	right: 200px;
	-webkit-animation: rspin 9s linear infinite;
    -moz-animation: rspin 9s linear infinite;
    animation: rspin 9s linear infinite;
}

#red-ass {
	top: 2950px;
	left: 100px;
	-webkit-animation: spin 9s linear infinite;
    -moz-animation: spin 9s linear infinite;
    animation: spin 9s linear infinite;

		@include medium {
			right: 50px;
			left: auto;
		}
}

#big-ass-2 {
	top: 5000px;
	left: -200px;
	-webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;

		@include large {
			display: none;
		}
}

#red-ass-2 {
	right: 100px;
	top: 5100px;
	-webkit-animation: rspin 9s linear infinite;
    -moz-animation: rspin 9s linear infinite;
    animation: rspin 9s linear infinite;

	@include large {
		display: none;
	}
}

.fadein {
  opacity: 0;
  transition: all 1.5s;
  transform: translate(0, 100px);
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}
